div#navbar {
 position: absolute;
 width: 100%;
 background-color: #1a1917;
 bottom: calc(100% - 75px);
 left: 0;
 color: #ffffff;
 vertical-align: center;
 padding: 100px 0 0 0;
 transition: transform 0.5s;
 border-radius: 0 0 10px 10px;
} div#navbar:hover {
 transform: translate(0, calc(100% - 75px));
} div#navbar a.navi {
 position: relative;
 bottom: 50px;
 font-size: 3rem;
 color: #ffffff;
 background-color: #4d4d4d;
 padding: 30px;
 border-radius: 20px;
 text-decoration: none;
 box-shadow: #424242 0 10px;
 margin: 10px;
 display: inline-block;
}
